.subcategories {
    display: block; 
}

.subfields{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.subfields >  a {
  display: block;
  text-align: center;
  border: 1px solid var(--brand-darkened);
  border-radius: 4px;
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
  box-shadow: 2px 2px 0 0 rgba(61, 74, 62, 1);
  text-decoration: none;
  color: var(--brand-darkened);
  padding:11px;
  margin-top: 0.5rem;
  margin-right:1rem;
  min-width:10rem;
}

.subfields > img {
    display:block;
    background-repeat: no-repeat;
    background-position: left 0.5rem center;
    width:35px;
    height:35px;
    margin-right:3px;
}